[Desktop Entry]
Type=Application
NoDisplay=true
# Translators: This is a CLI command name that should not be translated.
Name[be]=status
Name[da]=status
Name[de]=status
Name[en_GB]=status
Name[es]=status
Name[eu]=egoera
Name[fa]=وضعیت
Name[fr]=status
Name[gl]=estado
Name[he]=status
Name[hu]=status
Name[id]=status
Name[ka]=სტატუსი
Name[ko]=status
Name[lt]=status
Name[lv]=status
Name[pl]=status
Name[ru]=status
Name[sl]=stanje
Name[sv]=status
Name[tr]=status
Name[uk]=status
Name[zh_CN]=status
Name=status
Comment[be]=Паказ стану і статыстыкі праіндэксаваных даных
Comment[cs]=Poskytnout stav a statistiky indexovaných dat
Comment[da]=Vis status og statistik om de indekserede data
Comment[de]=Status und Statistiken zu den indizierten Daten bereitstellen
Comment[en_GB]=Provide status and statistics on the data indexed
Comment[es]=Mostrar el estado y estadísticas de los datos indexados
Comment[eu]=Eman indexatutako datuen egoera eta estatistikak
Comment[fr]=Fournir l’état et les statistiques des données indexées
Comment[gl]=Fornecer o estado e estatísticas dos datos indexados
Comment[he]=אספקת מצב וסטטיסטיקה על הנתונים שנשמרים במפתח
Comment[hu]=Állapot és statisztikák készítése az indexelt adatokról
Comment[id]=Memberikan status dan statistik pada data yang diindeks
Comment[ka]=დაინდექსებული მონაცემების სტატუსისა და სტატისტიკის გამოტანა
Comment[ko]=색인 처리한 데이터의 상태 및 통계를 제공합니다
Comment[lt]=Rodyti būseną bei statistiką apie indeksuojamus duomenis
Comment[lv]=Sniedz statusu un statistiku par indeksētajiem datiem
Comment[pl]=Podaje stan i statystyki o indeksowanych danych
Comment[ru]=Предоставление статуса и статистики по проиндексированным данным
Comment[sl]=Pokaže stanje in statistiko indeksiranih podatkov
Comment[sv]=Tillhandahåll status och statistik om indexerade data
Comment[tr]=Dizinlenen verilerle ilgili durum ve istatistikler sağla
Comment[uk]=Показати дані щодо стану та статистики індексованих даних
Comment[zh_CN]=提供状态和索引数据的统计
Comment=Provide status and statistics on the data indexed
