[Desktop Entry]
Type=Application
NoDisplay=true
# Translators: This is a CLI command name that should not be translated.
Name[be]=reset
Name[da]=reset
Name[de]=reset
Name[en_GB]=reset
Name[es]=reset
Name[eu]=berrezarri
Name[fr]=reset
Name[gl]=restabelecer
Name[he]=reset
Name[hu]=reset
Name[id]=reset
Name[ka]=reset
Name[ko]=reset
Name[lt]=reset
Name[lv]=reset
Name[pl]=reset
Name[ru]=reset
Name[sl]=ponastavi
Name[sv]=reset
Name[tr]=reset
Name[uk]=reset
Name[zh_CN]=reset
Name=reset
Comment[be]=Скінуць індэкс і канфігурацыю
Comment[cs]=Resetovat index a konfiguraci
Comment[da]=Nulstil indeks og konfiguration
Comment[de]=Index und Konfiguration zurücksetzen
Comment[en_GB]=Reset the index and configuration
Comment[es]=Restablecer el índice y la configuración
Comment[eu]=Berrezarri indizea eta konfigurazioa
Comment[fr]=Remettre à zéro l’index et la configuration
Comment[gl]=Restabelecer o índice e configuración
Comment[he]=איפוס המפתח וההגדרות
Comment[hu]=Az index és a beállítások visszaállítása
Comment[id]=Mereset indeks dan konfigurasi
Comment[ka]=ინდექსის და კონფიგურაციის ჩამოყრა
Comment[ko]=색인과 설정 정보를 초기화합니다
Comment[lt]=Atstatyti indeksą bei konfigūracija
Comment[lv]=Pārstartē indeksēšanu un konfigurāciju
Comment[pl]=Przywraca indeksowanie i konfigurację
Comment[ru]=Сброс индекса и конфигурации
Comment[sl]=Ponastavljanje kazala in nastavitve
Comment[sv]=Återställer index och konfiguration
Comment[tr]=Dizinlemeyi ve yapılandırmayı sıfırla
Comment[uk]=Скинути покажчик та налаштування до початкових
Comment[zh_CN]=重置索引和配置
Comment=Reset the index and configuration
