[Desktop Entry]
Name[ab]=Маджонг
Name[af]=Mahjongg
Name[am]=ማህጆንግ
Name[an]=Mahjongg
Name[ar]=مايونغ
Name[as]=মাহজং
Name[ast]=Mahjongg
Name[az]=Mahjongg
Name[be]=Маджонг
Name[bg]=Маджонг
Name[bn]=মাহজং
Name[bn_IN]=মাহজং
Name[br]=Mahjongg
Name[bs]=Mahjong
Name[ca]=Mahjongg
Name[ca@valencia]=Mahjongg
Name[ckb]=ماهجۆنگ
Name[cs]=Mahjongg
Name[cy]=Mahjongg
Name[da]=Mahjongg
Name[de]=Mahjongg
Name[dz]=མཱ་ཇོང་།
Name[el]=Ματζόνγκ
Name[en_CA]=Mahjongg
Name[en_GB]=Mahjongg
Name[eo]=Maĝango
Name[es]=Mahjongg
Name[et]=Mahjongg
Name[eu]=Mahjongg
Name[fa]=ماهجونگ
Name[fi]=Mahjong
Name[fr]=Mahjongg
Name[fur]=Mahjongg
Name[ga]=Mahjongg
Name[gl]=Mahjongg
Name[gu]=માહજૉંગ
Name[he]=מא-ג׳ונג
Name[hi]=महजोंग
Name[hr]=Mahjong
Name[hu]=Mahjongg
Name[id]=Mahjongg
Name[is]=Mahjongg
Name[it]=Mahjongg
Name[ja]=GNOME 上海
Name[kk]=Маджонг
Name[km]=Mahjongg
Name[kn]=ಮಾಜೋಂಗ್
Name[ko]=그놈 마작
Name[lt]=Mahjongg
Name[lv]=Mahjongg
Name[mai]=महजोंग
Name[mk]=Mahjongg
Name[ml]=മാജ്ജോങ്
Name[mn]=Хорол
Name[mr]=माहजॉंग
Name[ms]=Mahjongg
Name[nb]=Mahjongg
Name[ne]=माहजोङ्ग
Name[nl]=Mahjongg
Name[nn]=Mahjongg
Name[oc]=Mahjongg
Name[or]=Mahjongg
Name[pa]=ਮਹਜੌਂਗ
Name[pl]=Madżong
Name[pt]=Mahjongg
Name[pt_BR]=Mahjongg
Name[ro]=Mahjongg
Name[ru]=Маджонг
Name[sk]=Madžong
Name[sl]=Mahjongg
Name[sq]=Mahjongg
Name[sr]=Махјонг
Name[sr@latin]=Mahjong
Name[sv]=Mahjong
Name[ta]=மஹ்ஜொங்கு
Name[te]=మహజంగ్గ్
Name[th]=ถอดไพ่นกกระจอก
Name[tr]=Mahjongg
Name[ug]=ماجاڭ
Name[uk]=Магджонґ
Name[vi]=Mạt chược
Name[wa]=Mahjongg
Name[xh]=I-Mahjongg
Name[zh_CN]=对对碰
Name[zh_HK]=上海麻雀
Name[zh_TW]=上海麻將
Name=Mahjongg
Comment[ab]=Еилшәырга акамаҭелқәа реизга ду , еиқәшәо аихацалақәа ықәгауа
Comment[af]=Pak passende pare teëls van 'n hoop af
Comment[an]=Desmonte un montón de fichas eliminando parellas coincidents
Comment[ar]=فكّك كومة القراميد بإزالة الأزواج المتطابقة
Comment[as]=অনুৰূপ জোড়া সৰিয়ে ফেলাৰ মাধ্যমে কতগুলো ব্লকেৰ একটি স্তূপকে ভেঙ্গে ফেলক
Comment[ast]=Desmonta un montón de fiches quitando les pareyes iguales
Comment[az]=Eyni hissələri silərək kirəmitlər dəstəsini yox edin
Comment[be]=Шукайце пары аднолькавых касцей, каб разабраць горку
Comment[bg]=Премахване на купчина плочки чрез групирането им по двойки
Comment[bn]=অনুরূপ জোড়া সরিয়ে ফেলার মাধ্যমে কতগুলো ব্লকের একটি স্তূপকে ভেঙ্গে ফেলুন
Comment[bn_IN]=অনুরূপ জোড়া সরিয়ে ফেলার মাধ্যমে কতগুলো ব্লকের একটি স্তূপকে ভেঙ্গে ফেলুন
Comment[br]=Disevel ur bern pezh en ur zilemel ar c'houbladoù o genglotañ
Comment[bs]=Rasklopi gomilu pločica uklanjanjem odgovarajućih parova
Comment[ca]=Separa una pila de fitxes suprimint-ne els parells que es corresponguin
Comment[ca@valencia]=Separa una pila de fitxes suprimint-ne els parells que es corresponguin
Comment[cs]=Rozebrat hromadu kamenů odstraňováním odpovídajících si dvojic
Comment[cy]=Datgymalu pentwr o deils gan dynnu parau sy'n cyd-fynd
Comment[da]=Pil en bunke fliser fra hinanden ved at fjerne identiske par
Comment[de]=Einen Haufen Steine durch Entfernen der zusammengehörenden Paare auseinandernehmen
Comment[dz]=མཐུན་སྒྲིག་ཡོད་པའི་ ཟུང་འབྲེལ་ཊ་ཡིལ་ཚུ་ རྩ་བསྐྲད་གཏང་བའི་ཐོག་ལས་ ཊ་ཡིལ་གྱི་ཕུང་པོ་བཤུབ་གཏང་།
Comment[el]=Αποσυναρμολόγηση σωρών από πλακίδια με την αφαίρεση ζευγαριών που ταιριάζουν
Comment[en_CA]=Disassemble a pile of tiles by removing matching pairs
Comment[en_GB]=Disassemble a pile of tiles by removing matching pairs
Comment[en@shaw]=𐑛𐑦𐑕𐑩𐑕𐑧𐑥𐑚𐑩𐑤 𐑩 𐑐𐑲𐑤 𐑝 𐑑𐑲𐑤𐑟 𐑚𐑲 𐑮𐑦𐑥𐑵𐑝𐑦𐑙 𐑥𐑨𐑗𐑦𐑙 𐑐𐑺𐑟
Comment[eo]=Malkonstruu kahelpilon per forigi kongruajn duopojn
Comment[es]=Desmonte un montón de fichas eliminando parejas coincidentes
Comment[et]=Mängukivide kuhja lahtiharutamine sobivate kivide leidmise teel
Comment[eu]=Desegin fitxa-piloa bat datozen bikoteak kenduz
Comment[fa]=برداشتن تودهٔ کاشی‌ها با حذف جفت‌های جور شده
Comment[fi]=Pura pino laattoja poistamalla samanlaiset parit
Comment[fr]=Désassembler une pile de tuiles en enlevant les paires correspondantes
Comment[fur]=Smonte une tasse di tessaris gjavant lis cubiis che si cumbinin
Comment[gl]=Desmonte un montón de pezas retirando as parellas coincidentes
Comment[gu]=બંધબેસતી જોડ રદ કરીને તકતીઓની થપ્પી છૂટી પાડો
Comment[he]=פירוק ערמת אריחים על־ידי הסרת זוגות תואמים
Comment[hi]=एक जैसे जोड़ की टाइलें हटा कर ढेर साफ करें
Comment[hr]=Rastavite gomilu pločica uklanjanjem istovrsnih parova
Comment[hu]=Kőcsoportok leszedése egyező párok eltávolításával
Comment[id]=Pisahkan tumpukan kotak dengan menghapus pasangan yang cocok
Comment[is]=Taktu í sundur stafla af kubbum með því að fjarlægja samstæð pör.
Comment[it]=Smonta una catasta di tessere rimuovendo le coppie corrispondenti
Comment[ja]=盤面から全ての牌を取り終わるまで同じ牌を二つずつ取っていきます
Comment[kk]=Сәйкес жұптарды алып тастау арқылы плиткаларды бөлшектеңіз
Comment[km]=បំបែក​ក្រឡា​ក្បឿង​ដោយ​យក​គូ​ដែល​ផ្គូផ្គង​ចេញ
Comment[kn]=ತಾಳೆಯಾಗುವ ಜೋಡಿಗಳನ್ನು ತೆಗೆದು ಹಾಕುವ ಮೂಲಕ ಇಟ್ಟಿಗೆಗಳ ಒಂದು ಜೋಡಣೆಯನ್ನು ತೆಗೆದು ಹಾಕಿ
Comment[ko]=같은 두 개의 타일을 제거해 나가서 타일 더미를 모두 없앱니다
Comment[lt]=Išvalykite kortelių krūvą surinkdami sutampančias kortelių poras
Comment[lv]=Nojaukt kauliņu kaudzi, ņemot nost sakrītošus pārus
Comment[mai]=एकटा जहिना जोड़ क' टाइल हटाए कए ढेर साफ करू
Comment[mk]=Растури купче плочки со отстранување на парови кои се соваѓаат.
Comment[ml]=ചേരുന്ന ജോടികളെ ഒഴിവാക്കി ടൈലുകളുടെ ഒരു കൂമ്പാരം വേര്‍പെടുത്തുക
Comment[mr]=जुळवणी जोडी काढून टाकल्यावर टाइलचा ढीग पसरवा
Comment[ms]=Leraikan satu timbunan jubin dengan membuang mengikut pasangannya
Comment[nb]=Ta fra hverandre en haug med fliser ved å finne like par
Comment[ne]=मिल्दो जोडा हटाएर टायलको थुप्रो अलग्याउनुहोस्
Comment[nl]=Verwijder de stapel stenen door ze paarsgewijs weg te halen
Comment[nn]=Riv ned ein stabel av fliser ved å fjerna like par
Comment[oc]=Desassemblar una pila de teules en levant las paras correspondentas
Comment[or]=ମେଳଖାଉଥିବା ୟୋଡିକୁ ହଚାଇ ଟାଇଲଗୁଡିକର ରାଶିକୁ ବିଶୃଙ୍ଖଳ କର ୤
Comment[pa]=ਮੇਲ ਖਾਂਦੇ ਜੋੜਿਆਂ ਨੂੰ ਹਟਾ ਕੇ ਟਾਈਲਾਂ ਦੀ ਸੂਚੀ ਨੂੰ ਖਿੰਡਾਓ
Comment[pl]=Demontaż stosu kostek poprzez zdejmowanie pasujących par
Comment[pt]=Desfaça uma pilha de peças removendo os pares idênticos
Comment[pt_BR]=Desmonte uma pilha de peças removendo os pares iguais
Comment[ro]=Demontează o stivă de piese prin eliminarea perechilor potrivite
Comment[ru]=Разберите большую кучу костей, убирая совпадающие пары
Comment[sk]=Rozoberte kopu kameňov odstraňovaním zhodných párov
Comment[sl]=Razstavi skladovnico ploščic z odstranjevanjem parov
Comment[sq]=Zbërthe një stivë gurësh duke hequr palët që përputhen
Comment[sr]=Расклопите гомилу плочица уклањањем одговарајућих парова
Comment[sr@latin]=Rasklopite gomilu pločica uklanjanjem odgovarajućih parova
Comment[sv]=Plocka isär en hög med brickor genom att ta bort matchande par
Comment[ta]=பொருத்தும் ஜோடி ஓடுகளை நீக்கி ஓட்டுக் குவியலை பிரிக்கவும்
Comment[te]=సరిపోలిక జోడీలను తీసివేయుట ద్వారా పలకల కుప్పను విడదీయుము
Comment[th]=ทะลายกองไพ่นกกระจอกโดยหยิบคู่เหมือน
Comment[tr]=Eşleşen karo çiftlerini çıkartarak karo yığınını ayıklayın
Comment[uk]=Розбирання купи плиток, прибираючи узгоджені пари
Comment[vi]=Tháo chồng đá lát ra bằng cách bỏ các cặp khớp
Comment[xh]=Diliza inqwaba yeethayili ngokuthi ususe izibini ezingqamanayo
Comment[zh_CN]=移除匹配的牌对以拆除牌堆
Comment[zh_HK]=把相同牌面的麻雀一對對地移走
Comment[zh_TW]=把相同牌面的麻將一對對地移走
Comment=Disassemble a pile of tiles by removing matching pairs
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ab]=game;strategy;puzzle;board;ахәмарра;астратегиа;ахыԥҽыга;аишәатә;
Keywords[an]=chuego;estratechia;puzle;tablero;
Keywords[be]=гульня;стратэгія;галаваломка;настольная гульня;
Keywords[bg]=игра;стратегия;дъска;маджонг;game;strategy;puzzle;board;
Keywords[br]=c'hoari;bellouriezh;miltamm;taolenn;
Keywords[bs]=igra;strategija;zagonetka;ploča;
Keywords[ca]=joc;estratègia;puzle;tauler;
Keywords[ca@valencia]=joc;estratègia;puzle;tauler;
Keywords[ckb]=گەمە;ستراتیج;مەتەڵ;تەختە;
Keywords[cs]=hra;strategická;logická;hlavolam;desková;
Keywords[da]=spil;strategi;tænkespil;hjernebryder;bræt;
Keywords[de]=game;strategy;puzzle;board;Spiel;Strategie;Puzzle;Brettspiel;
Keywords[el]=παιχνίδι;στρατηγική;παζλ;πίνακας;game;strategy;puzzle;board;
Keywords[en_GB]=game;strategy;puzzle;board;
Keywords[eo]=ludo;strategio;puzlo;tabulo;
Keywords[es]=juego;estrategia;puzle;tablero;
Keywords[et]=mäng;strateegia;pusle;lauamäng;
Keywords[eu]=jokoa;estrategia;puzzlea;mahai-jokoa;
Keywords[fa]=game;strategy;puzzle;board;بازی;استراتژی;پازل;تخته;
Keywords[fi]=game;strategy;puzzle;board;peli;lautapeli;strategia;pulma;
Keywords[fr]=jeu;stratégie;énigmes;plateau;
Keywords[fur]=zûc;strategjie;berdei;taule;
Keywords[gl]=xogo;estratexia;quebracabezas;taboleiro;
Keywords[he]=משחק;אסטרטגיה;פאזל;פזל;תצרף;לוח;
Keywords[hi]=game;strategy;puzzle;board;
Keywords[hr]=igra;strategija;puzle;ploča;
Keywords[hu]=játék;stratégia;kirakó;feladvány;logikai;tábla;
Keywords[id]=permainan;strategi;teka-teki;papan;
Keywords[is]=leikur, kænska, púsl, borðleikur
Keywords[it]=gioco;giochi;strategia;rompicapo;tavola;ripiano;
Keywords[ja]=game;strategy;puzzle;board;ゲーム;ストラテジー;パズル;ボード;logic;ロジック;論理;思考;Mahjongg;
Keywords[kk]=game;strategy;puzzle;board;ойын;стратегия;жұмбақ;тақта;
Keywords[ko]=game;게임;strategy;전략;puzzle;퍼즐;board;보드;
Keywords[lt]=žaidimas;strategija;galvosūkis;lenta;
Keywords[lv]=spēle;stratēģija;mīkla;galdiņš;
Keywords[ml]=കളി;ഉപായം;ഗൂഢപ്രശ്നം;ബോര്‍ഡ്;
Keywords[ms]=permainan;strategi;teka-teki;papan;
Keywords[nb]=spill;strategi;puslespill;brett;
Keywords[nl]=game;strategy;puzzle;board;spel;strategie;puzzel;bord;
Keywords[oc]=jòc;estrategia;enigmas;platèu;
Keywords[pl]=mahjongg;gra;gierka;strategiczna;strategia;puzzle;puzle;planszowa;plansza;
Keywords[pt]=jogo;estratégia;puzzle;tabuleiro;
Keywords[pt_BR]=jogo;game;estratégia;quebra-cabeça;enigma;tabuleiro;
Keywords[ro]=game;strategy;puzzle;board;joc;strategie;tablă;
Keywords[ru]=game;strategy;puzzle;board;игра;стратегия;головоломка;настольная;
Keywords[sk]=hra;strategická;hlavolam;stolová;stratégia;
Keywords[sl]=igra;strateška;sestavljanka;tabla;plošča;kitajska;mahjong;
Keywords[sr]=game;strategy;puzzle;board;махјонг;игра;стратегија;слагалица;табла;
Keywords[sr@latin]=mahjong;igra;strategija;slagalica;tabla;
Keywords[sv]=spel;strategi;pussel;brädspel;
Keywords[ta]=விளையாட்டு;திட்டம்;புதிர்;பலகை;
Keywords[tr]=oyun;strateji;izlem;bulmaca;bilmece;yapboz;tahta;
Keywords[ug]=game;strategy;puzzle;board;ئويۇن;تەدبىر‏;تېپىشماق;تاختا;
Keywords[uk]=гра;стратегія;головоломка;настільна;
Keywords[zh_CN]=game;strategy;puzzle;board;游戏;策略;拼图;板;
Keywords[zh_HK]=game;strategy;puzzle;board;遊戲;策略;解題;桌面遊戲;
Keywords[zh_TW]=game;strategy;puzzle;board;遊戲;策略;解題;桌面遊戲;
Keywords=game;strategy;puzzle;board;
Exec=gnome-mahjongg
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Mahjongg
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;BoardGame;
StartupNotify=true
DBusActivatable=true
