[Desktop Entry]
Type=Application
NoDisplay=true
# Translators: This is a CLI command name that should not be translated.
Name[be]=tag
Name[da]=tag
Name[de]=tag
Name[en_GB]=tag
Name[es]=tag
Name[eu]=etiketa
Name[fr]=tag
Name[gl]=etiqueta
Name[he]=tag
Name[hu]=tag
Name[id]=tag
Name[ka]=ჭდე
Name[ko]=tag
Name[lt]=tag
Name[lv]=tag
Name[pl]=tag
Name[ru]=tag
Name[sl]=oznaka
Name[sv]=tag
Name[tr]=tag
Name[uk]=tag
Name[zh_CN]=tag
Name=tag
Comment[be]=Дадаванне, выдаленне, вывад спіса цэтлікаў
Comment[cs]=Přidat, odebrat a vypsat štítky
Comment[da]=Tilføj, fjern eller vis etiketter
Comment[de]=Schlagwörter hinzufügen, entfernen und auflisten
Comment[en_GB]=Add, remove and list tags
Comment[es]=Añadir, quitar y listar etiquetas
Comment[eu]=Gehitu, kendu eta zerrendatu etiketak
Comment[fr]=Ajouter, supprimer et lister les étiquettes
Comment[gl]=Engadir, eliminar ou listar etiquetas
Comment[he]=הוספה, הסרה והצגה של תגיות
Comment[hu]=Címkék hozzáadása, eltávolítása és felsorolása
Comment[id]=Tambah, hapus, atau cantumkan daftar tag
Comment[ka]=დაამატეთ, წაშალეთ და მიიღეთ ჭდეები
Comment[ko]=태그를 추가, 제거, 나열합니다
Comment[lt]=Pridėti, šalinti arba išvardinti žymas
Comment[lv]=Pievienot, izņemt un uzskaitīt tagus
Comment[pl]=Dodaje, usuwa i wyświetla listę etykiet
Comment[ru]=Добавление, удаление и перечисление меток
Comment[sl]=Dodajanje, odstranjevanje in izpisovanje oznak
Comment[sv]=Lägg till, ta bort och lista taggar
Comment[tr]=Etiketleri ekle, kaldır ve listele
Comment[uk]=Додати, вилучити і показати список міток
Comment[zh_CN]=添加、移除和列出标签
Comment=Add, remove and list tags
