[Desktop Entry]
Type=Application
NoDisplay=true
# Translators: This is a CLI command name that should not be translated.
Name[be]=index
Name[da]=index
Name[de]=index
Name[en_GB]=index
Name[es]=index
Name[eu]=indexatu
Name[fa]=نمایه
Name[fr]=index
Name[gl]=índice
Name[he]=index
Name[hu]=index
Name[id]=indeks
Name[ka]=ინდექსი
Name[ko]=index
Name[lt]=index
Name[lv]=index
Name[pl]=index
Name[ru]=index
Name[sl]=kazalo
Name[sv]=index
Name[tr]=index
Name[uk]=index
Name[zh_CN]=index
Name=index
Comment[be]=Індэксаванне змесціва праз індэксатар файлавай сістэмы Tracker
Comment[cs]=Indexovat obsah pomocí démona na dolování dat souborového systému Tracker
Comment[da]=Indeksér indhold med Trackers filsystemdataindsamler
Comment[de]=Inhalte mit dem Tracker-Dateisystem-Miner indizieren
Comment[en_GB]=Index content using the Tracker filesystem miner
Comment[es]=Indexar contenido usando el minero del sistema de archivos de Tracker
Comment[eu]=Indexatu edukia Tracker-en fitxategi-sistemen biltzailea
Comment[fr]=Indexer le contenu en utilisant les extracteurs de Tracker pour le système de fichiers
Comment[gl]=Indexar o contido usando o mineiro do sistema de ficheiros Tracker
Comment[he]=תוכן המפתח שמשתמש בכורה מערכת הקבצים של העוקב
Comment[hu]=Tartalom indexelése a Tracker fájlrendszerbányász használatával
Comment[id]=Indeks konten menggunakan penambang sistem berkas Tracker
Comment[ka]=შემცბელობის დაინდექსება ტრეკერის ფაილური სისტემის დამაინდექსებლის გამოყენებით
Comment[ko]=트래커 파일 시스템 수집기로 각 내용을 색인 처리합니다
Comment[lt]=Indeksuoti turinį naudojant Tracker failų sistemos išgavėją
Comment[lv]=Indeksē saturu, izmantojot Tracker datņu sistēmas racēju
Comment[pl]=Indeksuje treść za pomocą przeszukiwania systemu plików
Comment[ru]=Индексирование содержимого с помощью индексатора файловой системы Tracker
Comment[sl]=Indeksiranje vsebino z uporabo rudarnika Tracker datotečnega sistema
Comment[sv]=Indexera innehåll med filsystemsdatainsamlaren Tracker
Comment[tr]=Tracker dosya sistemi madencisini kullanarak içeriği dizinle
Comment[uk]=Індексувати дані за допомогою засобу видобування даних з файлової системи Tracker
Comment[zh_CN]=使用 Tracker 文件系统采掘器索引内容
Comment=Index content using the Tracker filesystem miner
