[Desktop Entry]
Type=Application
NoDisplay=true
# Translators: This is a CLI command name that should not be translated.
Name[be]=info
Name[da]=info
Name[de]=info
Name[en_GB]=info
Name[es]=info
Name[eu]=info
Name[fr]=info
Name[gl]=info
Name[he]=info
Name[hu]=info
Name[id]=info
Name[ka]=ინფორმაცია
Name[ko]=info
Name[lt]=into
Name[lv]=info
Name[pl]=info
Name[ru]=info
Name[sl]=podrobnosti
Name[sv]=info
Name[tr]=info
Name[uk]=info
Name[zh_CN]=info
Name=info
Comment[be]=Атрыманне ўсёй даступнай інфармацыі для пэўнага файла
Comment[cs]=Získat všechny informace dostupné pro určitý soubor
Comment[da]=Indhent alle tilgængelige oplysninger om en bestemt fil
Comment[de]=Alle verfügbaren Informationen zu einer bestimmten Datei abrufen
Comment[en_GB]=Retrieve all information available for a certain file
Comment[es]=Obtener toda la información de un archivo
Comment[eu]=Eskuratu fitxategi jakin baterako dagoen informazio guztia
Comment[fr]=Obtenir toutes les informations disponibles pour un fichier donné
Comment[gl]=Obter toda a información dispoñíbel para un ficheiro en particular
Comment[he]=משיכת כל המידע הזמין על קובץ מסוים
Comment[hu]=Egy adott fájlhoz elérhető összes információ lekérdezése
Comment[id]=Mengambil semua informasi yang tersedia untuk suatu berkas tertentu
Comment[ka]=მითითებული ფაილის შესახებ ყველა ხელმისაწვდომი ინფორმაციის ჩვენება
Comment[ko]=각 파일의 모든 가용 정보를 가져옵니다
Comment[lt]=Gauti visą informaciją apie konkretų failą
Comment[lv]=Saņemt visu informāciju par noteiktu datni
Comment[pl]=Pobiera wszystkie dostępne informacje o danym pliku
Comment[ru]=Получение всей информации, доступной для определенного файла
Comment[sl]=Pridobivanje razpoložljivih podrobnosti za določeno datoteko
Comment[sv]=Erhåll all information som finns tillgänglig för en tillgänglig fil
Comment[tr]=Belirli bir dosya için tüm bilgileri al
Comment[uk]=Отримати усі доступні дані щодо певного файла
Comment[zh_CN]=获取特定文件的所有可用信息
Comment=Retrieve all information available for a certain file
