[Desktop Entry]
Type=Application
NoDisplay=true
# Translators: This is a CLI command name that should not be translated.
Name[be]=extract
Name[da]=extract
Name[de]=extract
Name[en_GB]=extract
Name[es]=extract
Name[eu]=erauzi
Name[fr]=extract
Name[gl]=extraer
Name[he]=extract
Name[hu]=extract
Name[id]=ekstrak
Name[ka]=გაშლა
Name[ko]=extract
Name[lt]=extract
Name[lv]=extract
Name[pl]=extract
Name[ru]=extract
Name[sl]=razširi
Name[sv]=extract
Name[tr]=extract
Name[uk]=extract
Name[zh_CN]=extract
Name=extract
Comment[be]=Выняць метаданыя з файла
Comment[cs]=Vytáhnout metadata ze souboru
Comment[da]=Udtræk metadata fra en fil
Comment[de]=Metadaten aus einer Datei auslesen
Comment[en_GB]=Extract metadata from a file
Comment[es]=Extraer metadatos de un archivo
Comment[eu]=Erauzi metadatuak fitxategi batetik
Comment[fr]=Extraire les métadonnées d’un fichier
Comment[gl]=Extrae os metadatos dun ficheiro
Comment[he]=חילוץ נתוני על מקובץ
Comment[hu]=Metaadatok kinyerése egy fájlból
Comment[id]=Ekstrak metadata dari suatu berkas lokal
Comment[ka]=მეტამონაცემების მიღება ფაილიდან
Comment[ko]=파일에서 메타데이터 추출
Comment[lt]=Išgauti metaduomenis iš failų
Comment[lv]=Izvilkt metadatus no datnēm
Comment[pl]=Wydobywa metadane z pliku
Comment[ru]=Извлечение метаданных из файла
Comment[sl]=Razširjanje metapodatkov krajevnih datotek
Comment[sv]=Extrahera metadata från en fil
Comment[tr]=Dosyadan üst verileri ayıkla
Comment[uk]=Видобути метадані з файла
Comment[zh_CN]=从文件提取元数据
Comment=Extract metadata from a file
