[Desktop Entry]
Type=Application
NoDisplay=true
# Translators: This is a CLI command name that should not be translated.
Name[be]=daemon
Name[da]=daemon
Name[de]=daemon
Name[en_GB]=daemon
Name[es]=daemon
Name[eu]=daemona
Name[fr]=daemon
Name[gl]=daemon
Name[he]=daemon
Name[hu]=daemon
Name[id]=daemon
Name[ka]=დემონი
Name[ko]=daemon
Name[lt]=daemon
Name[lv]=daemon
Name[pl]=daemon
Name[ru]=daemon
Name[sl]=ozadnji program
Name[sv]=daemon
Name[tr]=daemon
Name[uk]=daemon
Name[zh_CN]=daemon
Name=daemon
Comment[be]=Запуск, спыненне і вывад спіса дэманаў, якія адказваюць за індэксаванне змесціва
Comment[cs]=Spustit, zastavit, restartovat a vypsat seznam démonů odpovědných za indexování obsahu
Comment[da]=Start, stop, genstart og vis dæmoner, som er ansvarlige for indholdsindeksering
Comment[de]=Dienste starten, stoppen und auflisten, die für die Indizierung von Inhalten verantwortlich sind
Comment[en_GB]=Start, stop, restart and list daemons responsible for indexing content
Comment[es]=Iniciar, detener, pausar y listar procesos responsables del indexado del contenido
Comment[eu]=Abiarazi, gelditu, berrabiarazi eta zerrendatu edukia indexatzen dituzten daemonak
Comment[fr]=Démarrer, arrêter, redémarrer et lister les démons responsable de l’indexation du contenu
Comment[gl]=Iniciar, deter, reiniciar e listar daemons responsábeis de indexar contido
Comment[he]=הפעלה, עצירה, הפעלה מחדש והצגת סוכנים שאחראיים על שמירת תוכן במפתח
Comment[hu]=Az indexelt tartalomért felelős démonok indítása, leállítása, újraindítása és felsorolása
Comment[id]=Mulai, hentikan, mulai ulang, dan cantumkan daftar daemon yang bertanggung jawab untuk mengindeks konten
Comment[ka]=გაუშვით, გააჩერეთ, გადატვირთეთ და იხილეთ სია დემონებისა, რომლებიც შემცველობის დაინდექსებაზე არიან პასუხისმგებლები
Comment[ko]=각 내용을 색인처리하는 데몬을 시작, 정지, 다시시작, 상태조회 합니다
Comment[lt]=Paleisti, sustabdyti, perleisti bei išvardinti turinio indeksavimo tarnybas
Comment[lv]=Palaist, apturēt, pārstartēt un uzskaitīt dēmonus, kas ir atbildīgi par satura indeksēšanu
Comment[pl]=Uruchamia, zatrzymuje, uruchamia ponownie i wyświetla listę usług odpowiedzialnych za indeksowanie treści
Comment[ru]=Запуск, остановка, перезапуск и список демонов, отвечающих за индексирование содержимого
Comment[sl]=Zagon, zaustavitev, prekinitev in izpis opravil, ki izvajajo indeksiranje vsebine
Comment[sv]=Starta, stoppa, starta om och lista demoner ansvariga för att indexera innehåll
Comment[tr]=İçerik dizinlemeden sorumlu art alan hizmetlerini başlat, durdur, yeniden başlat ve listele
Comment[uk]=Запуск, зупинення, перезапуск та показ списку фонових служб, які відповідають за індексування даних
Comment[zh_CN]=开始、停止、重启与列出处理索引内容的守护进程
Comment=Start, stop, restart and list daemons responsible for indexing content
