[Desktop Entry]
Type=Application
NoDisplay=true
# Translators: This is a CLI command name that should not be translated.
Name[be]=search
Name[da]=search
Name[de]=search
Name[en_GB]=search
Name[es]=search
Name[eu]=bilatu
Name[fa]=جست‌وجو
Name[fr]=search
Name[gl]=busca
Name[he]=search
Name[hu]=search
Name[id]=cari
Name[ka]=ძებნა
Name[kk]=іздеу
Name[ko]=search
Name[lt]=search
Name[lv]=search
Name[pl]=search
Name[ru]=search
Name[sl]=poišči
Name[sv]=search
Name[tr]=search
Name[uk]=search
Name[zh_CN]=search
Name=search
Comment[be]=Пошук змесціва па тыпу або па ўсіх тыпах
Comment[cs]=Vyhledávat obsah podle typu nebo napříč všemi typy
Comment[da]=Søg efter indhold af en bestemt type eller alle typer
Comment[de]=Inhalte nach Typ oder über alle Typen hinweg suchen
Comment[en_GB]=Search for content by type or across all types
Comment[es]=Buscar por tipo de contenido o en todos los tipos
Comment[eu]=Bilatu motaren arabera edo mota guztietan
Comment[fr]=Rechercher du contenu par type ou quel que soit le type.
Comment[gl]=Buscar contido por tipo ou a través de todos os tipos
Comment[he]=חיפוש אחר תוכן לפי סוג או מכל הסוגים.
Comment[hu]=Tartalmak keresése típusonként vagy az összes típus között
Comment[id]=Cari konten menurut jenis atau di semua jenis
Comment[ka]=შემცველობის ტიპით ან ყველა ტიპით ძებნა
Comment[ko]=모든 형식에 대해 또는 형식별 내용 검색
Comment[lt]=Ieškoti turinio pagal tipą arba visuose tipuose
Comment[lv]=Meklēt saturu, pēc kāda tipa vai visiem tipiem
Comment[pl]=Wyszukuje treść według typu lub we wszystkich typach
Comment[ru]=Поиск содержимого по типу или по всем типам
Comment[sl]=Iskanje vsebine po vrsti in ne glede na vrsto
Comment[sv]=Sök efter innehåll efter typ eller i alla typer
Comment[tr]=İçeriği türe göre ya da tüm türler arasında ara
Comment[uk]=Шукати дані за типом або для усіх типів
Comment[zh_CN]=按类型或不限类型搜索内容
Comment=Search for content by type or across all types
