# hobot log

[Unit]
Description=Hobot log bpu1
After=hobot-log-daemon.service
Wants=hobot-log-daemon.service
ConditionPathExists=/proc/bpu1_msg

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=0
ExecStart=/usr/bin/hobot-log-start bpu1
TimeoutStartSec=infinity

[Install]
WantedBy=basic.target
