# hobot log

[Unit]
Description=Hobot log daemon
After=hobot-mount.service hobot-loadko.service
Wants=hobot-mount.service hobot-loadko.service

[Service]
Type=notify
Restart=always
RestartSec=1
StartLimitBurst=0
ExecStart=/usr/bin/hobot-log
TimeoutStartSec=infinity

[Install]
WantedBy=basic.target
