# hobot log

[Unit]
Description=Hobot log bpu2
After=hobot-log-daemon.service
Wants=hobot-log-daemon.service
ConditionPathExists=/proc/bpu2_msg

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=0
ExecStart=/usr/bin/hobot-log-start bpu2
TimeoutStartSec=infinity

[Install]
WantedBy=basic.target
