# hobot log

[Unit]
Description=Hobot log bpu3
After=hobot-log-daemon.service
Wants=hobot-log-daemon.service
ConditionPathExists=/proc/bpu3_msg

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=0
ExecStart=/usr/bin/hobot-log-start bpu3
TimeoutStartSec=infinity

[Install]
WantedBy=basic.target
